html, body, #map-container {
  height: 100%;
  width: 100%;
}

#top-navbar {
  margin-bottom: 0px;
}

#map-container {
  padding: 0px;
  height: calc(100% - 51px);
}

#mapid {
  width: auto;
  height: 100%;
}
